### Step 1: Database was created through elephantsql.com for free to host PostgresSql database. Then the <a href="https://raw.githubusercontent.com/lerocha/chinook-database/master/ChinookDatabase/DataSources/Chinook_PostgreSql.sql">Chinook PostgresSql query link</a> on GitHub was used to backfill all tables and data.

### Step 2: Create Connection with Database

In [1]:
import psycopg2
import pandas

connection = psycopg2.connect(user = "zowglzqx",
                              password = "HinwKUQSD2t_10zuQK5Tln-us-7N9JsI",
                              host = "drona.db.elephantsql.com",
                              database = "zowglzqx")

cursor = connection.cursor()
# Print PostgreSQL Connection properties
print ( connection.get_dsn_parameters(),"\n")

# Print PostgreSQL version
cursor.execute("SELECT version();")
record = cursor.fetchone()
print("You are connected to - ", record,"\n")

{'user': 'zowglzqx', 'dbname': 'zowglzqx', 'host': 'drona.db.elephantsql.com', 'port': '5432', 'tty': '', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  ('PostgreSQL 11.7 (Ubuntu 11.7-2.pgdg18.04+1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0, 64-bit',)

### Step 2: Run query that joins all necessary tables for query

In [2]:
query = """
SELECT c."LastName", c."FirstName", t."Name" as TrackName, a."Title" as AlbumTitle, art."Name" as ArtistName
FROM "public"."InvoiceLine" il
LEFT JOIN "public"."Track" t on il."TrackId" = t."TrackId"
LEFT JOIN "public"."Invoice" i on i."InvoiceId" = il."InvoiceId"
LEFT JOIN "public"."Customer" c on c."CustomerId" = i."CustomerId"
LEFT JOIN "public"."Album" a on t."AlbumId" = a."AlbumId"
LEFT JOIN "public"."Artist" art on a."ArtistId" = art."ArtistId"
ORDER BY c."LastName", c."FirstName", t."Name";
"""


cursor.execute(query)
results = cursor.fetchall()

### Step 3: Convert SQL data into pandas Dataframe

In [3]:
df = pandas.DataFrame(results, columns = ['Last Name', 'First Name', 'Track Name', 'Album Name', 'Artist Name'])

print(df.head())

  Last Name First Name                 Track Name               Album Name  \
0   Almeida    Roberto              Amor De Muito           Afrociberdelia
1   Almeida    Roberto                  Aos Le�es               Demorou...
2   Almeida    Roberto  Banditismo Por Uma Questa          Da Lama Ao Caos
3   Almeida    Roberto             Be Good Johnny  The Best Of Men At Work
4   Almeida    Roberto          Burden In My Hand                  A-Sides

                   Artist Name
0  Chico Science & Na��o Zumbi
1              M�nica Marianno
2  Chico Science & Na��o Zumbi
3                  Men At Work
4                  Soundgarden

### Step 4: Close PostgresSql Connection

In [4]:
cursor.close()
connection.close()

print("PostgreSQL connection is closed")

PostgreSQL connection is closed